/* Welcome.css */

.welcome-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .welcome-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-self: flex-start; /* Ensure content stays at the top */
  }
  
  .welcome-content h1 {
    margin-bottom: 20px;
  }
  
  .welcome-content button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .welcome-content button:hover {
    background-color: #0056b3;
  }
  
  .image-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  
  